<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="logPath" value="ExportDataLog_"/>
    <add key="logPathSuccess" value="ExportDataSuccessLog_"/>
    <add key="resultPath" value="C:\Jason\Project\ResultCSVALL"/>
    <add key="sourceSPListFields" value="C:\Jason\Project\SPListFields.xlsx"/>
    <add key="siteUrl" value="http://ts-slvsp.slv.int/sites/in02/"/>
    <add key="viewName" value="DevView"/>
    <add key="userName" value="SLVSP_SP_CN_JG"/>
    <add key="pwd" value="veOEMRwtjh"/>
    <add key="domain" value="CN"/>
  </appSettings>
</configuration>